#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
lib/
target/
*.tmp
#*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
baidu_verify_*.html
google1f9a70cb3389*.html
.idea
*.iml

# External tool builders
.externalToolBuilders/


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

